.no_time_set{
    animation-name:flash;
    animation-duration: 0.5s;
    animation-iteration-count: 6;
    animation-direction: alternate;
}

@keyframes flash {
    from{
        border-color: rgb(245, 154, 154);
    }
    
    to{
        border-color: rgb(245, 45, 45);
    }
    
}


#link_to_repo{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 2vh;
    margin-bottom: 2vh;
}

#link_to_repo:hover{
    /* filter: blur(0.5px); */
    /* background-color: rgb(255, 194, 27);
    border-radius: 50%;
    box-shadow: rgb(255, 194, 27) 0 0 6px 1px; */
    animation-name: slowglow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border-radius: 50%;
    background-color: rgb(255, 194, 27);
    animation-direction: alternate;
}

@keyframes slowglow {
   from{
        box-shadow: rgb(255, 194, 27) 0 0 1px 1px;
   } 

   to{
        box-shadow: rgb(255, 194, 27) 0 0 6px 1px;
   }
}

.timer_name{
    font-size: 200%;
}

.homescreen_state{
    margin-bottom: 5vh;
}

#container{
    display: flex;
    flex-direction: column;
}

#container > *{
    /* probably should replace this with a js class so the margin can be removed when one of the timers is hidden */
    /* margin-bottom: 5vh; */
}

.timer-disp{
    text-align: center;
    height: fit-content;
    width: fit-content;
}

#timer-in{
    opacity: 0;
    width: 0;
    height: 0;
    z-index: -2;
    position: absolute;
    /* font-size: 14px; */
}

.timer{
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    align-content: center;
    font-size: 500%;
}

.timer:focus-within{
    border-color: rgb(255, 194, 27)
}

#main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

body, html{
    color: white;
    overflow: hidden;
    background-color: rgb(16, 19, 22);
}