.homescreen_state{
    margin-bottom: 5vh;
}

.control_btn{
    display: none;
    height: 100%;
    width: 50%;
    margin-left: 25%;
}

#controls{

}

#container{
    display: flex;
    flex-direction: column;
}

#container > *{
    /* probably should replace this with a js class so the margin can be removed when one of the timers is hidden */
    /* margin-bottom: 5vh; */
}

.timer-disp{
    text-align: center;
    height: fit-content;
    width: fit-content;
}

#timer-in{
    opacity: 0;
    width: 0;
    height: 0;
    z-index: -2;
    position: absolute;
    /* font-size: 14px; */
}

.timer{
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    align-content: center;
    font-size: 300%;
}

.timer:focus-within{
    border-color: blue;
}

body, html{
    min-height: 100vh;
    min-width: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}