@keyframes slidein {
from {
    translate: 0 -30vh;
    opacity: 0%;
    filter: blur(3px);
}

to {
    translate: 0 5vh;
    opacity: 100%;
}
}
@keyframes slideout {
    from {
        translate: 0 -10vh;
        opacity: 100%;
        height: 100%;
    }
    
    to {
        translate: 0 30vh;
        opacity: 0%;
        height: 0%;
        filter: blur(3px);
}
}

.slidein{
    animation-duration: 3s;
    animation-name: slidein;
    animation-fill-mode: forwards;
}

.slideout{
    animation-duration: 3s;
    animation-name: slideout;
    animation-fill-mode: forwards;
}

@keyframes start_session {
from {
    translate: 0 0vh;
}

to {
    translate: 0 5vh;
}
}

@keyframes start_session_b { /*start session animation for the break timer*/
from {
    translate: 0 5vh;
    opacity: 100%;
    height: 100%;
}

to {
    translate: 0 30vh;
    opacity: 0%;
    height: 0%;
    filter: blur(3px);
}
}

.start_session{
    animation-duration: 3s;
    animation-name: start_session;
    animation-fill-mode: forwards;
}


.start_session_b{
    animation-duration: 3s;
    animation-name: start_session_b;
    animation-fill-mode: forwards;
}


.homescreen_state{
    margin-bottom: 5vh;
}