@keyframes start_session {
from {
    translate: 0 0vh;
}

to {
    translate: 0 5vh;
}
}

.start_session{
    animation-duration: 3s;
    animation-name: start_session;
    animation-fill-mode: forwards;
}

@keyframes start_session_b { /*start session animation for the break timer*/
from {
    translate: 0 5vh;
    opacity: 100%;
    height: 100%;
}

to {
    translate: 0 30vh;
    opacity: 0%;
    height: 0%;
    filter: blur(3px);
}
}

.start_session_b{
    animation-duration: 3s;
    animation-name: start_session_b;
    animation-fill-mode: forwards;
}